---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import SupportBannerWithPic from '../components/SupportBannerWithPic.astro';
---

<BaseLayout title="Coding & Authorizations | Primrose.health">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div
				class="max-w-[85rem] md:max-w-full mx-auto pt-10 pb-10 px-4 sm:px-6 lg:px-8 bg-neutral-100"
			>
				<!-- Grid -->
				<div
					class="grid md:grid-cols-2 gap-12 md:gap-16 xl:gap-20 md:items-center"
				>
					<div>
						<h1
							class="block text-4xl tracking-tighter font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"
						>
							Coding & Authorizations
						</h1>
						<p class="mt-4 text-lg text-gray-800 dark:text-gray-400">
							Lack of coding knowledge will result in significantly higher
							denials with procedures and surgeries. Getting prior authorization
							for surgeries and procedures can take hours of your staff’s time.
							We take care of coding your surgeries and get prior authorizations
							for your tests.
						</p>

						<!-- Buttons -->
						<div class="mt-8 grid gap-3 w-full sm:inline-flex">
							<a
								class="inline-flex calendly-open-button justify-center items-center gap-x-3 text-center bg-teal-700 hover:bg-teal-800 border border-transparent text-sm lg:text-base text-white font-medium transition py-3 px-4 dark:focus:ring-offset-gray-800"
								onclick="openCalendlyWidget()"
								href="#calendly"
							>
								Get started
							</a>
						</div>
						<!-- End Buttons -->
					</div>
					<!-- End Col -->

					<div class="relative">
						<img
							class="w-full max-w-full"
							src="/images/codingandauth-hero.png"
							alt="Image Description"
						/>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
			<!-- End Hero -->

			<!-- Time capsule banner start -->
			<div class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div
					class="bg-[#E0DDD8] sm:p-12 py-12 px-6 grid grid-rows-2 md:gap-12 gap-6"
				>
					<div class="justify-self-end max-w-[25rem]">
						<h2
							class="font-bold text-2xl tracking-tighter lg:text-3xl text-gray-800 dark:text-gray-200 mb-4"
						>
							Time is money.
						</h2>
						<p class="text-gray-900">
							An office spends an average of <b>16.4 hours</b> each week in prior
							authorizations*
						</p>
					</div>

					<h3
						class="md:text-8xl text-7xl font-bold text-gray-800 tracking-tighter"
					>
						16.4 hours
					</h3>
				</div>
			</div>
			<!-- Time capsule banner end -->

			<!-- Features -->
			<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div class="bg-white">
					<!-- Title -->
					<!-- <div class="mx-auto max-w-2xl text-center pb-8">
						<h2
							class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200 px-8 pt-8"
						>
							Faster appointments. <br /> More patients.
						</h2>
						<p class="text-center text-gray-800 dark:text-gray-200 px-8 pt-4">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div> -->
					<!-- End Title -->

					<div class="grid grid-col-6 gap-12 px-4 py-8">
						<!-- Grid - Feature 1 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32 mt-6"
						>
							<div>
								<img
									class=""
									src="/images/savetime.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Save time
										</h2>
										<p class="text-gray-500">
											According to AMA, an typical office spends an average of
											16.4 hours each week in prior authorizations*. That is
											costing your practice upwards of $1500 each month. Our
											prior authorizations team will save your staff from the
											hold times and all the administrative paperwork.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 2 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/speedy-auth-processing.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Speedy authorization processing
										</h2>
										<p class="text-gray-500">
											We pull appointments and work them through a streamlined
											process to verify benefits and then process prior
											authorizations if required. Our process is built to handle
											the exceptions and payor process variations and minimize
											any impact to your workflow.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 3 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/collect-confidently.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Collect confidently
										</h2>
										<p class="text-gray-500">
											Don’t leave your frontdesk guessing how much to collect.
											Know exactly what the patient’s benefit is and collect it
											at the time of service and avoid large patient balances.
											We verify benefits along with the copay and outstanding
											deductible to determine how much to collect and make the
											information easily available through our platform.
										</p>
										<a href="#" class="inline-flex text-blue-700 underline"
											>Click here to see our fees</a
										>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 4 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/reduce-denials.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Reduce denials with our coding
										</h2>
										<p class="text-gray-500">
											Coding surgeries can be complex and done incorrectly can
											lead to lost revenue and denials. If billing is outsourced
											to a EMR vendor or a low cost vendor, they do not have the
											necessary coding experts to get these claims fixed and
											paid. Our coders are experts in specific specialties and
											have years of experience in hospital settings and will
											code them correctly the first time.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 5 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/built-on-technology.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Built on technology
										</h2>
										<p class="text-gray-500">
											Once we assembled a top-notch coding and prior auth team,
											we set about building a custom authorization and coding
											platform to help us work cohesively and securely. The
											platform also allow us to track items seamlessly and
											manage the process comprehensively. Because, at the end of
											it all, we recognize just one denial can lead to hundreds
											of dollars in lost revenue.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Features Grid -->

						<div
							class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
						>
							<!-- Title -->
							<div class="mx-auto max-w-2xl text-center pb-8">
								<h2
									class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200 px-8 pt-8"
								>
									The Primrose workflow
								</h2>
								<p
									class="text-center text-gray-800 dark:text-gray-200 px-8 pt-4"
								>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>
							<!-- End Title -->

							<div class="grid md:grid-cols-2 gap-8 grid-row-2">
								<img src="/images/workflow-traditional-way.png" alt="" />
								<img src="/images/workflow-primrose-way.png" alt="" />
							</div>
						</div>

						<!-- Testimonials -->
						<div
							class="relative max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-[#925034]"
						>
							<!-- Blockquote -->
							<blockquote class="text-center lg:mx-auto lg:w-3/5">
								<img
									class="mx-auto w-20 h-auto sm:w-28 text-white dark:text-gray-200"
									src="/images/five-star-review-white.svg"
									alt=""
								/>

								<div class="mt-6 lg:mt-10">
									<p
										class="relative text-xl sm:text-2xl md:leading-normal font-medium text-gray-800"
									>
										<svg
											class="absolute top-0 left-0 transform -translate-x-8 -translate-y-8 h-16 w-16 text-slate-50/20 sm:h-24 sm:w-24 dark:text-gray-700"
											width="16"
											height="13"
											viewBox="0 0 16 13"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
											aria-hidden="true"
										>
											<path
												d="M7.18079 9.25611C7.18079 10.0101 6.93759 10.6211 6.45119 11.0891C5.96479 11.5311 5.35039 11.7521 4.60799 11.7521C3.71199 11.7521 2.96958 11.4531 2.38078 10.8551C1.81758 10.2571 1.53598 9.39911 1.53598 8.28111C1.53598 7.08511 1.86878 5.91511 2.53438 4.77111C3.22559 3.60111 4.18559 2.67811 5.41439 2.00211L6.29759 3.36711C5.63199 3.83511 5.09439 4.35511 4.68479 4.92711C4.30079 5.49911 4.04479 6.16211 3.91679 6.91611C4.14719 6.81211 4.41599 6.76011 4.72319 6.76011C5.43999 6.76011 6.02879 6.99411 6.48959 7.46211C6.95039 7.93011 7.18079 8.52811 7.18079 9.25611ZM14.2464 9.25611C14.2464 10.0101 14.0032 10.6211 13.5168 11.0891C13.0304 11.5311 12.416 11.7521 11.6736 11.7521C10.7776 11.7521 10.0352 11.4531 9.44639 10.8551C8.88319 10.2571 8.60159 9.39911 8.60159 8.28111C8.60159 7.08511 8.93439 5.91511 9.59999 4.77111C10.2912 3.60111 11.2512 2.67811 12.48 2.00211L13.3632 3.36711C12.6976 3.83511 12.16 4.35511 11.7504 4.92711C11.3664 5.49911 11.1104 6.16211 10.9824 6.91611C11.2128 6.81211 11.4816 6.76011 11.7888 6.76011C12.5056 6.76011 13.0944 6.99411 13.5552 7.46211C14.016 7.93011 14.2464 8.52811 14.2464 9.25611Z"
												fill="currentColor"></path>
										</svg>
										<span
											class="relative z-10 italic text-white dark:text-gray-200"
											>As a physician, there are a lot of things that stress me
											out, but with Primrose, managing my billing needs isn’t
											one of them. I know my billings will be done on time and
											all reports will be filed accurately</span
										>
									</p>
								</div>

								<footer class="mt-6">
									<div class="font-semibold text-slate-100 dark:text-gray-200">
										Dr. Makinde
									</div>
									<div class="text-sm text-slate-50">
										Director | Covenant Women's Health, Texas
									</div>
								</footer>
							</blockquote>
							<!-- End Blockquote -->
						</div>
						<!-- End Testimonials -->
					</div>
				</div>
			</div>
			<!-- End Features -->

			<SupportBannerWithPic />

			
			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
