---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import SupportBannerWithPic from '../components/SupportBannerWithPic.astro';
---

<BaseLayout title="End-to-end billing service | Primrose.health">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div
				class="max-w-[85rem] md:max-w-full mx-auto pt-10 pb-10 px-4 sm:px-6 lg:px-8 bg-neutral-100"
			>
				<!-- Grid -->
				<div
					class="grid md:grid-cols-2 gap-12 md:gap-16 xl:gap-20 md:items-center"
				>
					<div>
						<h1
							class="block text-4xl tracking-tighter font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"
						>
							End-to-end billing service
						</h1>
						<p class="mt-4 text-lg text-gray-800 dark:text-gray-400">
							With over a decade of experience in billing for multiple
							specialties, our experts maximize your benefits during the
							critical contracting phase.
						</p>

						<!-- Buttons -->
						<div class="mt-8 grid gap-3 w-full sm:inline-flex">
							<a
								class="inline-flex calendly-open-button justify-center items-center gap-x-3 text-center bg-teal-700 hover:bg-teal-800 border border-transparent text-sm lg:text-base text-white font-medium transition py-3 px-4 dark:focus:ring-offset-gray-800"
								onclick="openCalendlyWidget()"
								href="#calendly"
							>
								Get started
							</a>
						</div>
						<!-- End Buttons -->
					</div>
					<!-- End Col -->

					<div class="relative">
						<img
							class="w-full max-w-full"
							src="/images/endtoendbilling-hero.png"
							alt="Image Description"
						/>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
			<!-- End Hero -->

			<div class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div
					class="bg-[#E0DDD8] sm:p-16 py-12 px-6 grid grid-cols-2 md:gap-12 gap-6 items-center"
				>
					<div class="justify-center max-w-[25rem]">
						<h2
							class="font-bold text-2xl tracking-tighter lg:text-3xl text-gray-800 dark:text-gray-200"
						>
							Medical billing should be flexible and adaptable
						</h2>
					</div>

					<div>
						<p class="text-gray-900">
							Each healthcare facility may have its own unique requirements for
							medical billing, which means that medical billing companies need
							to be flexible in their approach to meet the specific needs of
							their clients. Primrose helps in streamlining and making the
							billing process efficient for a successful medical billing
							company.
						</p>
					</div>
				</div>
			</div>

			<!-- Features -->
			<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div class="bg-white">
					<!-- Title -->
					<div class="mx-auto max-w-2xl text-center">
						<h2
							class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200 px-8 pt-8"
						>
							Efficient workflow. <br /> Guaranteed.
						</h2>
						<p class="text-center text-gray-800 dark:text-gray-200 px-8 pt-8">
							Our streamlined and efficient billing process is essential for
							meeting your unique needs.
						</p>
					</div>
					<!-- End Title -->

					<div class="grid grid-col-6 gap-12 px-4 py-8">
						<!-- Grid - Feature 1 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32 mt-6"
						>
							<div>
								<img
									class=""
									src="/images/charge-capture.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Charge Capture
										</h2>
										<p class="text-gray-500">
											Our charge capture app is built for specialists rounding
											at hospitals, rehabs and SNFs. Enter charges quickly
											through an easy-to-use interface and pull up payments or
											reports 24x7.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 2 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/emr-integration.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											EMR integration
										</h2>
										<p class="text-gray-500">
											We integrate with all major EMRs in the market and pull
											charges and other financial information from your EMR into
											our billing platform.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 3 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/claims-timing.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Claims timing
										</h2>
										<p class="text-gray-500">
											In some instances, it pays to file claims quickly and
											collect the money. In other cases, it makes sense to time
											the claim to maximize the collection. We use a proprietary
											set of rules to determine when to file the claim to
											maximize reimbursement.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 4 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/claims-submission.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Claim Submission
										</h2>
										<p class="text-gray-500">
											Claims undergo a manual review and scrubber validation
											before filing to the insurance carrier. 95% of the claims
											are filed electronically and reach the insurance within 24
											hours.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Testimonials -->
						<div
							class="relative max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-[#925034]"
						>
							<!-- Blockquote -->
							<blockquote class="text-center lg:mx-auto lg:w-3/5">
								<img
									class="mx-auto w-20 h-auto sm:w-28 text-white dark:text-gray-200"
									src="/images/five-star-review-white.svg"
									alt=""
								/>

								<div class="mt-6 lg:mt-10">
									<p
										class="relative text-xl sm:text-2xl md:leading-normal font-medium text-gray-800"
									>
										<svg
											class="absolute top-0 left-0 transform -translate-x-8 -translate-y-8 h-16 w-16 text-slate-50/20 sm:h-24 sm:w-24 dark:text-gray-700"
											width="16"
											height="13"
											viewBox="0 0 16 13"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
											aria-hidden="true"
										>
											<path
												d="M7.18079 9.25611C7.18079 10.0101 6.93759 10.6211 6.45119 11.0891C5.96479 11.5311 5.35039 11.7521 4.60799 11.7521C3.71199 11.7521 2.96958 11.4531 2.38078 10.8551C1.81758 10.2571 1.53598 9.39911 1.53598 8.28111C1.53598 7.08511 1.86878 5.91511 2.53438 4.77111C3.22559 3.60111 4.18559 2.67811 5.41439 2.00211L6.29759 3.36711C5.63199 3.83511 5.09439 4.35511 4.68479 4.92711C4.30079 5.49911 4.04479 6.16211 3.91679 6.91611C4.14719 6.81211 4.41599 6.76011 4.72319 6.76011C5.43999 6.76011 6.02879 6.99411 6.48959 7.46211C6.95039 7.93011 7.18079 8.52811 7.18079 9.25611ZM14.2464 9.25611C14.2464 10.0101 14.0032 10.6211 13.5168 11.0891C13.0304 11.5311 12.416 11.7521 11.6736 11.7521C10.7776 11.7521 10.0352 11.4531 9.44639 10.8551C8.88319 10.2571 8.60159 9.39911 8.60159 8.28111C8.60159 7.08511 8.93439 5.91511 9.59999 4.77111C10.2912 3.60111 11.2512 2.67811 12.48 2.00211L13.3632 3.36711C12.6976 3.83511 12.16 4.35511 11.7504 4.92711C11.3664 5.49911 11.1104 6.16211 10.9824 6.91611C11.2128 6.81211 11.4816 6.76011 11.7888 6.76011C12.5056 6.76011 13.0944 6.99411 13.5552 7.46211C14.016 7.93011 14.2464 8.52811 14.2464 9.25611Z"
												fill="currentColor"></path>
										</svg>
										<span
											class="relative z-10 italic text-white dark:text-gray-200"
											>As a physician, there are a lot of things that stress me
											out, but with Primrose, managing my billing needs isn’t
											one of them. I know my billings will be done on time and
											all reports will be filed accurately</span
										>
									</p>
								</div>

								<footer class="mt-6">
									<div class="font-semibold text-slate-100 dark:text-gray-200">
										Dr. Makinde
									</div>
									<div class="text-sm text-slate-50">
										Director | Covenant Women's Health, Texas
									</div>
								</footer>
							</blockquote>
							<!-- End Blockquote -->
						</div>
						<!-- End Testimonials -->

						<!-- Grid - Feature 5 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/remit-posting.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Remit posting
										</h2>
										<p class="text-gray-500">
											We establish a lockbox to accept your EOBs and process
											them. This eliminates any load on your staff and the need
											to scan them in. Our team will post all electronic remits
											and paper EOBs for accurate tracking of payments in a
											timely fashion.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Features Grid -->

						<!-- Grid - Feature 6 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="md:order-last">
								<img
									class=""
									src="/images/check-deposit.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Check deposit
										</h2>
										<p class="text-gray-500">
											We set up direct deposits for large insurance carriers and deposit all of your paper checks remotely.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 6 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div>
								<img
									class=""
									src="/images/receivable-management.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->

							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Receivable management
										</h2>
										<p class="text-gray-500">
											Every unpaid claim is refiled or appealed by our dedicated receivable management team until they are paid using our expert knowledge of the claims process. We will work the claim until exhaustion.

										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->
					</div>
				</div>
			</div>
			<!-- End Features -->

			<SupportBannerWithPic />

			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
