---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import SupportBannerWithList from '../components/SupportBannerWithList.astro';
---

<script
	type="text/javascript"
	src="https://assets.calendly.com/assets/external/widget.js"
></script>

<style>
	.pricingCard {
		flex-basis: 1 1 auto;
	}

	@media (min-width: 640px) {
		.pricingCard_mainContent {
			margin-bottom: 8px;
		}
		.pricingCard_mainContent {
			min-height: 1120px !important;

			/* border: 1px solid red; */
		}
	}
</style>

<BaseLayout title="Pricing for Primrose | Primrose.health">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div class="relative bg-neutral-100">
				<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:pt-14 mx-auto">
					<!-- Title -->
					<div class="max-w-3xl mx-auto text-center mb-20">
						<h2
							class="text-3xl leading-tight font-bold md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight bg-clip-text bg-gradient-to-r from-teal-500 to-emerald-600 dark:text-white text-transparent"
						>
							Unlock Fairness and Transparency in Medical Billing
						</h2>
						<p class="mt-2 lg:text-lg text-gray-800 dark:text-gray-200">
							Say Goodbye to Negotiations with Our No-Hassle Pricing Model
						</p>
					</div>
					<!-- End Title -->

					<!-- Grid -->
					<div
						class="mt-6 md:mt-12 grid sm:grid-cols-2 lg:grid-cols-5 gap-3 md:gap-6 lg:gap-3 xl:gap-6 lg:items-top"
					>
						<!-- Card -->
						<div
							class="pricingCard flex flex-col bg-white border border-gray-200 text-center rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
						>
							<div class="pricingCard_mainContent">
								<div class="grid grid-rows-[30px_minmax(64px,_1fr)_62px_auto]">
									<h4
										class="font-medium text-lg text-gray-800 dark:text-gray-200"
									>
										Free Plan
									</h4>

									<p class="mt-6 mb-3" style="height: 64px;">
										<span
											class="font-bold text-2xl md:text-3xl xl:text-4xl text-gray-800 dark:text-gray-200"
											>Free</span
										>
									</p>
									<p class="mt-2 text-sm text-gray-500">
										Best if you are just starting out or if you practice part
										time
									</p>
									<a
										class="mt-5 calendly-open-button inline-flex lg:text-base text-white justify-center items-center gap-2 bg-teal-700 border-teal-900 hover:bg-teal-800 font-medium hover:shadow-md focus:outline-none transition-all text-sm py-3 px-4 dark:text-white-500 dark:border-violet-900 dark:hover:border-violet-700"
										onclick="openCalendlyWidget()"
										href="#calendly"
									>
										Contact us
									</a>
								</div>

								<ul class="mt-7 space-y-2.5 text-sm pb-8">
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											iPhone app
										</span>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											PM software
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											EMR integration
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Claims creation
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Claims scrubbing
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Claims printing
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Dashboard software
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Import Demographics
										</span>
									</li>
								</ul>
							</div>

							<div class="grid grid-cols-1 divide-y text-left">
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Support:</span>
									<span class="block">Email 1 day TAT</span>
								</p>
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Minimum:</span>
									<span class="block">Not applicable</span>
								</p>
							</div>
						</div>
						<!-- End Card -->

						<!-- Card -->
						<div
							class="pricingCard flex flex-col bg-white border border-gray-200 text-center rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
						>
							<div class="pricingCard_mainContent">
								<div class="grid grid-rows-[30px_minmax(64px,_1fr)_62px_auto]">
									<h4
										class="font-medium text-lg text-gray-800 dark:text-gray-200"
									>
										Insider Plan
									</h4>

									<p class="mt-6 mb-3">
										<!-- <span class="block">Fee</span> -->
										<span
											class="font-bold text-2xl md:text-3xl xl:text-4xl text-gray-800 dark:text-gray-200"
											>1%</span
										><span class="block">of collections*</span>
									</p>
									<p class="mt-2 text-sm text-gray-500">
										Best if you are if you want to leverage our automation
									</p>
									<a
										class="mt-5 calendly-open-button inline-flex lg:text-base text-white justify-center items-center gap-2 bg-teal-700 border-teal-900 hover:bg-teal-800 font-medium hover:shadow-md focus:outline-none transition-all text-sm py-3 px-4 dark:text-white-500 dark:border-violet-900 dark:hover:border-violet-700"
										onclick="openCalendlyWidget()"
										href="#calendly"
									>
										Contact us
									</a>
								</div>

								<ul class="mt-7 space-y-2.5 text-sm">
									<li class="flex space-x-2 text-left">
										<span
											class="text-gray-800 dark:text-gray-400 font-semibold"
										>
											Everything in the Free plan +
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Appointment reminders</span
										>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Review requests
										</span>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Eligibility Verification
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Estimations Checkin
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Payment collection
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Automated Claim filing
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Automated Remit (ERA) posting
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Patient - 2 statements
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											SMS reminders
										</span>
									</li>
								</ul>
							</div>
							<div class="grid grid-cols-1 divide-y text-left">
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Support:</span>
									<span class="block">Email 1 day TAT</span>
								</p>
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Minimum:</span>
									<span class="block">Not applicable</span>
								</p>
							</div>
							<!-- End Card -->
						</div>

						<!-- Card -->
						<div
							class="pricingCard flex flex-col bg-white border border-gray-200 text-center rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
						>
							<div class="pricingCard_mainContent">
								<div class="grid grid-rows-[30px_minmax(64px,_1fr)_62px_auto]">
									<h4
										class="font-medium text-lg text-gray-800 dark:text-gray-200"
									>
										Essentials Plan
									</h4>

									<p class="mt-6 mb-3">
										<!-- <span class="block">Fee</span> -->
										<span
											class="font-bold text-2xl md:text-3xl xl:text-4xl text-gray-800 dark:text-gray-200"
											>4%</span
										><span class="block">of collections</span>
									</p>
									<p class="mt-2 text-sm text-gray-500">
										Best for practices with low revenue
									</p>
									<a
										class="mt-5 calendly-open-button inline-flex lg:text-base text-white justify-center items-center gap-2 bg-teal-700 border-teal-900 hover:bg-teal-800 font-medium hover:shadow-md focus:outline-none transition-all text-sm py-3 px-4 dark:text-white-500 dark:border-violet-900 dark:hover:border-violet-700"
										onclick="openCalendlyWidget()"
										href="#calendly"
									>
										Contact us
									</a>
								</div>

								<ul class="mt-7 space-y-2.5 text-sm">
									<li class="flex space-x-2 text-left">
										<span
											class="text-gray-800 dark:text-gray-400 font-semibold"
										>
											Everything in the Insider plan +
										</span>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Implementation team
										</span>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Manual Remit posting
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Patient - outbound calls (issues with insurance, address)
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Insurance - Inbound & outbound calls
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Manage receivable-1 year
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Appeals - Level 1
										</span>
									</li>
								</ul>
							</div>
							<div class="grid grid-cols-1 divide-y text-left">
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Support:</span>
									<span class="block">Email 1 day TAT</span>
									<span class="block">Ticketing system</span>
								</p>
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Client Revenue:</span>
									<span class="block">Not applicable</span>
									<span class="font-semibold">Minimum:</span>
									<span class="block">$750/month</span>
								</p>
							</div>
						</div>
						<!-- End Card -->

						<!-- Card -->
						<div
							class="pricingCard flex flex-col bg-white border border-gray-200 text-center rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
						>
							<div class="pricingCard_mainContent">
								<div class="grid grid-rows-[30px_minmax(64px,_1fr)_62px_auto]">
									<h4
										class="font-medium text-lg text-gray-800 dark:text-gray-200"
									>
										Premium Plan
									</h4>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-2xl md:text-3xl xl:text-4xl text-gray-800 dark:text-gray-200"
											>5%</span
										><span class="block">of collections</span>
									</p>
									<p class="mt-2 text-sm text-gray-500">
										Best for surgery/procedure-based specialists
									</p>
									<a
										class="mt-5 calendly-open-button inline-flex lg:text-base text-white justify-center items-center gap-2 bg-teal-700 border-teal-900 hover:bg-teal-800 font-medium hover:shadow-md focus:outline-none transition-all text-sm py-3 px-4 dark:text-white-500 dark:border-violet-900 dark:hover:border-violet-700"
										onclick="openCalendlyWidget()"
										href="#calendly"
									>
										Contact us
									</a>
								</div>

								<ul class="mt-7 space-y-2.5 text-sm">
									<li class="flex space-x-2 text-left">
										<span
											class="text-gray-800 dark:text-gray-400 font-semibold"
										>
											Everything in the Essentials plan +
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Import - Old Receivable
										</span>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Setup - Address change
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Reports- 2 custom reports (fees apply for addl reports)
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Prior Authorization (for tests, procedures, and surgeries
											only)
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Coding surgeries (for surgeries only)
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Deposit processing Bank reconciliation (done monthly)
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Appeals - Level 2
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Patient - 3 statements
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Patient-balance reminder calls
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Patient - Billing calls inbound
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Dunning letters Monthly meeting (one meeting with account
											manager; will be available through SMS/email/ ticketing
											systems outside this monthly meeting)
										</span>
									</li>
								</ul>
							</div>
							<div class="grid grid-cols-1 divide-y text-left">
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Support:</span>
									<span class="block"
										>Account Manager (up to 4 hours/month)
									</span>
								</p>
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Client Revenue:</span>
									<span class="block">$50K+/m</span>
									<span class="font-semibold">Minimum:</span>
									<span class="block">$2,500/month</span>
								</p>
							</div>
							<!-- End Card -->
						</div>
						<!-- End Grid -->

						<!-- Card -->
						<div
							class="pricingCard flex flex-col bg-white border border-gray-200 text-center rounded-2xl p-4 md:p-8 dark:bg-slate-900 dark:border-gray-700"
						>
							<div class="pricingCard_mainContent">
								<div class="grid grid-rows-[30px_minmax(64px,_1fr)_62px_auto]">
									<h4
										class="font-medium text-lg text-gray-800 dark:text-gray-200"
									>
										Pract Mgmt Plan
									</h4>

									<p class="mt-6 mb-3">
										<span
											class="font-bold text-2xl md:text-3xl xl:text-4xl text-gray-800 dark:text-gray-200"
											>3%</span
										><span class="block">of collections</span>
									</p>
									<p class="mt-2 text-sm text-gray-500">
										Practices without a dedicated office manager
									</p>
									<a
										class="mt-5 calendly-open-button inline-flex lg:text-base text-white justify-center items-center gap-2 bg-teal-700 border-teal-900 hover:bg-teal-800 font-medium hover:shadow-md focus:outline-none transition-all text-sm py-3 px-4 dark:text-white-500 dark:border-violet-900 dark:hover:border-violet-700"
										onclick="openCalendlyWidget()"
										href="#calendly"
									>
										Contact us
									</a>
								</div>

								<ul class="mt-7 space-y-2.5 text-sm">
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Budgeting
										</span>
									</li>

									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Accounting
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Payroll
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Hiring
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Staff Mgmt
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Vendor Mgmt
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Patient estimates
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400">
											Check-in payment calls
										</span>
									</li>
									<li class="flex space-x-2 text-left">
										<svg
											class="flex-shrink-0 h-5 w-5 text-violet-900"
											width="16"
											height="16"
											viewBox="0 0 16 16"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M11.5219 4.0949C11.7604 3.81436 12.181 3.78025 12.4617 4.01871C12.7422 4.25717 12.7763 4.6779 12.5378 4.95844L6.87116 11.6251C6.62896 11.91 6.1998 11.94 5.9203 11.6916L2.9203 9.02494C2.64511 8.78033 2.62032 8.35894 2.86493 8.08375C3.10955 7.80856 3.53092 7.78378 3.80611 8.02839L6.29667 10.2423L11.5219 4.0949Z"
												fill="currentColor"></path>
										</svg>
										<span class="text-gray-800 dark:text-gray-400 text-left">
											Shared Practice Manager (meet with your account manager as
											needed; Google meet/phone/ SMS/email)
										</span>
									</li>
								</ul>
							</div>
							<div class="grid grid-cols-1 divide-y text-left">
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Support:</span>
									<span class="block"
										>Practice Manager (up to 8 hours/week)
									</span>
								</p>
								<p
									class="text-gray-800 py-4 dark:text-gray-400 border-t border-gray-300"
								>
									<span class="font-semibold">Client Revenue:</span>
									<span class="block">$50K+/m</span>
									<span class="font-semibold">Minimum:</span>
									<span class="block">$2,500/month</span>
								</p>
							</div>
						</div>
					</div>
					<!-- End Card -->
				</div>
			</div>
			<!-- End Hero -->

			<div class="max-w-[65rem] px-4 py-5 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<!-- Title -->
				<div class="max-w-2xl mx-auto text-center py-12">
					<h2
						class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
					>
						Upgrade with Premium Add-Ons
					</h2>
					<p class="mt-3 text-gray-600 dark:text-gray-400">
						Unlock the full potential of our services with our premium add-ons,
						tailored to meet your unique needs and deliver exceptional value
					</p>
				</div>
				<!-- End Title -->

				<div class="flex flex-col">
					<div class="-m-1.5 overflow-x-auto">
						<div class="p-1.5 min-w-full inline-block align-middle">
							<div class="border overflow-hidden dark:border-gray-700">
								<table
									class="min-w-full divide-y divide-gray-200 dark:divide-gray-700"
								>
									<thead>
										<tr>
											<th
												scope="col"
												class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase"
												>Addons</th
											>
											<th
												scope="col"
												class="px-6 py-3 text-left text-md font-medium text-gray-500 uppercase"
												>Fee</th
											>
										</tr>
									</thead>
									<tbody class="divide-y divide-gray-200 dark:divide-gray-700">
										<tr>
											<td
												class="px-6 py-4 text-md font-medium text-gray-800 dark:text-gray-200"
												>Medical Assistant - Eligibility Verifications,
												Predeterminations, Prior Authorizations, medical
												receptionist, referral management, records management
												including faxes, medication management, order management</td
											>
											<td
												class="px-6 py-4 text-md text-gray-800 dark:text-gray-200"
												>Cypress; see pricing details here</td
											>
										</tr>

										<tr>
											<td
												class="px-6 py-4 text-md font-medium text-gray-800 dark:text-gray-200"
												>Marketing - Search Engine optimizations, Directory
												listing management, social media management, Reviews
												management, custom content creation</td
											>
											<td
												class="px-6 py-4 text-md text-gray-800 dark:text-gray-200"
												>Tensaw; see pricing details here</td
											>
										</tr>

										<tr>
											<td
												class="px-6 py-4 text-md font-medium text-gray-800 dark:text-gray-200"
												>Sales - Setting up lunches with Primary care
												physicians, community events, local print advertising</td
											>
											<td
												class="px-6 py-4 text-md text-gray-800 dark:text-gray-200"
												>Tensaw; see pricing details here</td
											>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<SupportBannerWithList />

			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
