---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import SupportBannerWithList from '../components/SupportBannerWithList.astro';
---

<style>
	td {
		vertical-align: top;
	}
</style>

<BaseLayout title="Primrose Billing in Cardiology practices | Primrose.health">
	<main>
		<div class="container md:max-w-full">
			<div class="relative">
				<!-- Hero -->

				<!-- Hero -->
				<div class="relative overflow-hidden">
					<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
						<!-- Title -->
						<div class="mt-10 max-w-3xl text-center mx-auto">
							<h2
								class="block font-bold text-gray-800 tracking-tighter text-4xl md:text-5xl lg:text-6xl dark:text-gray-200"
							>
								Privacy Policy
							</h2>
							<p class="mt-6 text-xl text-gray-800 dark:text-gray-400">
								At Primrose, Inc. ("Primrose") your right to privacy is a
								concern. The purpose of this Privacy Policy is to inform you of
								what kinds of information we may gather and how we may use that
								information in connection with the https://Primrose.health
								website (the “Site”).
							</p>
						</div>
						<!-- End Title -->

						<!-- content -->
						<div class="mt-16 max-w-3xl text-center mx-auto">
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								OUR SERVICES
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								Primrose provides marketing software and services for healthcare
								providers, including designing and operating websites for those
								healthcare providers. This Privacy Policy does not apply to the
								information collected via any healthcare provider’s website or
								other online functionality operated by us, even if the website
								or functionality includes a “powered by Primrose” or similar
								statement. When we operate a healthcare provider’s website, we
								collect, use, and disclose information only as directed or
								permitted by the healthcare provider.
							</p>
						</div>
						<!-- End content -->

						<!-- content -->
						<div class="mt-16 max-w-3xl text-center mx-auto">
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								COLLECTION OF INFORMATION
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								There are some areas on our Site in which we may request
								information from you, including:
							</p>

							<ul
								class="mt-4 list-disc list-inside text-gray-900 dark:text-gray-200 text-left"
							>
								<li>
									Contact information, such as your name, your address, phone
									number, email address
								</li>
								<li>Information about your healthcare practice</li>
								<li>Payment information</li>
								<li>Photographs that you choose to provided</li>
								<li>
									Other content you choose to provide to promote yourself or
									your practice
								</li>
								<li>
									Username and password that you may establish on the Site
								</li>
								<li>Your feedback and correspondence with us</li>
							</ul>

							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may also accept employment applications via the Site, in
								which case we will also request information about your work
								experience, education, languages spoken, and other information
								of the type included on a resume.
							</p>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We take reasonable steps to ensure that information that we
								receive from you is reliable for its intended use, accurate,
								complete and current, including providing mechanisms by which
								you can amend or update your information.
							</p>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We, our service providers, and our business partners may also
								collect certain information about the use of our Site by
								automated means, such as via cookies, web beacons, embedded
								scripts, and other technologies. We may also use web beacons in
								our HTML-formatted emails. A “cookie” is a text file that
								websites send to a visitor ‘s computer or other
								Internet-connected device to uniquely identify the visitor’s
								browser or to store information or settings in the browser. A
								“web beacon,” also known as an Internet tag, pixel tag or clear
								GIF, is used to transmit information back to a web server. The
								information that may be collected automatically includes your
								computer or mobile device operating system type and version
								number, browser type, screen resolution, IP address, the website
								you visited before browsing to our Site, general location
								information such as city, state or geographic area; and
								information about your use of and actions on our Site, such as
								pages you viewed, how long you spent on a page, navigation paths
								between pages, information about your activity on a page, access
								times, and length of access. Our service providers and business
								partners may collect this type of information over time and
								across third-party websites.
							</p>
						</div>
						<!-- End content -->

						<!-- content -->
						<div class="mt-16 max-w-3xl text-center mx-auto">
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								SHARING INFORMATION
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may share personal information with:
							</p>
							<ul
								class="mt-4 list-disc list-inside text-gray-900 dark:text-gray-200 text-left"
							>
								<li>
									Primrose’s subsidiaries and affiliates for the purposes
									identified in this Privacy Policy
								</li>
								<li>
									Service providers that perform services on our behalf, or
									partners with whom we may collaborate, in each case for the
									purposes described in this Privacy Policy. The types of
									service providers and partners with whom we may share personal
									information may include customer service and support
									providers, technology providers (including technology support,
									web hosting providers, and email and text communications
									providers), survey and market research providers, advertising
									and marketing partners, and analytics organizations
								</li>
								<li>
									Business partners whose goods or services may of interest to
									you
								</li>
								<li>
									Professional advisors, such as lawyers, bankers, auditors, and
									insurers, where necessary in the course of the professional
									services they provide to us
								</li>
								<li>
									Other content you choose to provide to promote yourself or
									your practice
								</li>
							</ul>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may transfer the personal information we maintain in the
								event we sell or transfer all or a portion of our business or
								assets (or during the negotiations of any of such sale or
								transfer). After such a sale or transfer, individuals may
								contact the recipient with any inquiries concerning their
								personal information.
							</p>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								In addition, we may share personal information to comply with
								legal and regulatory requirements, and protect against and
								prevent fraud, illegal activity (such as identifying and
								responding to incidents of hacking or misuse of our Site), and
								claims and other liabilities.
							</p>
						</div>
						<!-- End content -->

						<!-- content -->
						<div class="mt-16 max-w-3xl text-center mx-auto">
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								USE OF INFORMATION
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may use personal information to:
							</p>
							<ul
								class="mt-4 list-disc list-inside text-gray-900 dark:text-gray-200 text-left"
							>
								<li>
									Communicate about the products and services we offer, and
									respond to requests, inquiries, comments, and suggestions
								</li>
								<li>Provide our products and services</li>
								<li>Analyse use of our products and services</li>
								<li>
									Operate, evaluate and improve our business, the Site, and
									other products and services we offer (including to research
									and develop new products and services)
								</li>
								<li>
									Establish and maintain an individual’s profile on the Site
								</li>
								<li>Administer surveys and other market research</li>
								<li>
									Analyse and enhance our communications and strategies
									(including by identifying when emails we send are read)
								</li>
								<li>
									Tailor the content we display in our communications and on the
									Site
								</li>
								<li>Customize our services to individuals’ preferences</li>
								<li>
									Facilitate our recruitment activities (such as processing
									employment applications, evaluating a job candidate for an
									employment activity, and monitoring recruiting statistics)
								</li>
								<li>
									Comply with legal requirements, judicial process, and our
									company policies
								</li>

								<li>
									Protect against, identify, investigate, and respond to fraud,
									illegal activity (such as incidents of hacking or misuse of
									the Site), and claims and other liabilities, including by
									enforcing the terms and conditions that govern the services we
									provide We may also aggregate and/or de-identify any
									information that we collect, such that the information no
									longer identifies any specific individual. We may use,
									disclose and otherwise process such information for our own
									legitimate business purposes – including historical and
									statistical analysis about our customers, sales, traffic
									patterns and related site information, and business planning –
									without restriction.
								</li>
							</ul>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may also accept employment applications via the Site, in
								which case we will also request information about your work
								experience, education, languages spoken, and other information
								of the type included on a resume.
							</p>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We take reasonable steps to ensure that information that we
								receive from you is reliable for its intended use, accurate,
								complete and current, including providing mechanisms by which
								you can amend or update your information.
							</p>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We, our service providers, and our business partners may also
								collect certain information about the use of our Site by
								automated means, such as via cookies, web beacons, embedded
								scripts, and other technologies. We may also use web beacons in
								our HTML-formatted emails. A “cookie” is a text file that
								websites send to a visitor ‘s computer or other
								Internet-connected device to uniquely identify the visitor’s
								browser or to store information or settings in the browser. A
								“web beacon,” also known as an Internet tag, pixel tag or clear
								GIF, is used to transmit information back to a web server. The
								information that may be collected automatically includes your
								computer or mobile device operating system type and version
								number, browser type, screen resolution, IP address, the website
								you visited before browsing to our Site, general location
								information such as city, state or geographic area; and
								information about your use of and actions on our Site, such as
								pages you viewed, how long you spent on a page, navigation paths
								between pages, information about your activity on a page, access
								times, and length of access. Our service providers and business
								partners may collect this type of information over time and
								across third-party websites.
							</p>
						</div>
						<!-- End content -->

						<!-- content -->
						<div class="mt-16 max-w-3xl text-center mx-auto">
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								YOUR CHOICES
							</h3>

							<ul
								class="mt-4 list-disc list-inside text-gray-900 dark:text-gray-200 text-left"
							>
								<li>
									You may choose not to provide any or all of the information
									that is requested on the Site, but we may not be able to
									provide our products or services to you in that case. In the
									event that you no longer want us to process or utilize your
									User Information, please contact us.
								</li>
								<li>
									Some of the business partners that collect information about
									users’ activities on the Site may be members of organizations
									or programs that provide choices to individuals regarding the
									use of their browsing behaviour for purposes of targeted
									advertising. Users may opt out of receiving targeted
									advertising on websites through participating members of the
									Network Advertising Initiative and Digital Advertising
									Alliance. Please note that we also may work with companies
									that offer their own opt-out mechanisms and may not
									participate in the opt-out mechanisms that we linked above. If
									you choose to opt-out of targeted advertisements, you will
									still see advertisements online but they may not be relevant
									to you. Even if you do choose to opt out, not all companies
									that serve online behavioural advertising are included in this
									list, and so you may still receive some cookies and tailored
									advertisements from companies that are not listed.
								</li>
								<li>
									Some Internet browsers may be configured to send "Do Not
									Track" signals to the online services that you visit. We
									currently do not currently respond to do not track signals. To
									find out more about "Do Not Track," please visit
									http://www.allaboutdnt.com.
								</li>
							</ul>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We take appropriate measures to keep the personal information
								you disclose to us secure. However, we cannot guarantee the
								security of your information.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								INTERNATIONAL TRANSFERS
							</h3>

							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may transfer personal information to countries other than the
								country in which the data was originally collected for the
								purposes described in this Privacy Policy. For example, we
								transfer the personal information of individuals located outside
								of the United States to the United States, where we are
								headquartered. The countries to which we transfer personal
								information may not have the same data protection laws as the
								country in which we initially collected the information.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								CHANGES TO THIS PRIVACY POLICY
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								We may modify this Privacy Policy at any time. If we update or
								modify this Privacy Policy, we will post the changes on the
								Site. We may (and, where required by law, will) also provide
								notification of changes in another way that we believe is
								reasonably likely to reach you, such as via e-mail (if you have
								an account where we have your contact information) or another
								manner through the Site.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								QUESTIONS AND COMMENTS
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								If you have any questions about this privacy policy, please
								contact us at contact@primrose.health or at our mailing address
								117 Gemini Cir Ste#403, Homewood AL 35209.
							</p>
						</div>
						<!-- End content -->

						<!-- content -->
						<div class="mt-24 max-w-3xl text-center mx-auto">
							<h3
								class="block font-bold text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Terms & Conditions
							</h3>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Business Identity
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								Primrose.Health LLC. (herein known as "Company"), is a
								corporation headquartered at 117 Gemini Cir Ste#403, Homewood AL
								35209.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Copyright
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								All content provided on this Website is the copyright of the
								Company or its content suppliers. It is prohibited to copy,
								reproduce, modify, display, republish, upload, post, transmit,
								distribute, alter, prepare any derivative works of, or otherwise
								use any material from this Website without the prior express
								written consent of Primrose, Inc.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Trademarks
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								The Company's trademarks may not be used in connection with any
								product or service that is not the property of the Company, in
								any manner that is likely to cause confusion among customers, or
								in any manner that disparages or discredits the Company or its
								affiliates. Other registered trademarks and trademarks used on
								this site are the property of their respective owners and are
								used herein solely for descriptive purposes. Mention on this
								Website of trademarks held by other parties should not be
								construed as a challenge to said trademarks' status or
								ownership.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Disclaimer
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								This Website is provided by the Company on as "as-is" basis. The
								Company makes no express or implied representations or
								warranties of any kind, as to the operation of the Website, or
								the content, information, materials, or products included on
								this Website. To the fullest extent permissible by applicable
								law, the Company disclaims all warranties, express or implied,
								including but not limited to implied warranties of
								merchantability and fitness for a particular purpose. The
								Company will not be liable for any damages of any kind resulting
								from the use of this Website, including but not limited to
								direct, indirect, incidental punitive and consequential damages.
								The Company does not warrant that the Website will operate
								error-free or that this Website and its server are free or
								computer viruses and other harmful goods. If your use of the
								Website or the material results in the need for servicing or
								replacing equipment or data, the Company is not responsible for
								those costs.
							</p>

							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								No Medical Advice
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								The Site and the Content are for informational purposes only. No
								medical advice is rendered through the Site by Primrose and the
								Content is not intended to be a substitute for professional
								medical advice, diagnosis, or treatment. Always seek the advice
								of your physician or other qualified health care provider with
								any questions you may have regarding a medical condition. Never
								disregard professional medical advice or delay in seeking it
								because of something you read on the Site. Primrose does not
								recommend or endorse any specific procedures, products, tests,
								physicians, opinions, or other information that may be mentioned
								on the Site. Reliance on any information provided on the Site,
								whether by Primrose or any other party is solely at your own
								risk. If you think you may have a medical emergency, call your
								physician or 911 immediately.
							</p>

							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Applicable Law
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								This Website is created and controlled by the Company in the
								State of Alabama. As such, the laws of the State of Alabama will
								govern these disclaimers, terms, and conditions, without giving
								effect to any principles of conflicts of laws. By use of this
								Website you irrevocably consent for any and all disputes with
								the Company to the venue of state or federal courts located in
								the State of Alabama. We reserve the right to make changes to
								our site and these disclaimers, terms, and conditions at any
								time with or without notice to its users. Unless otherwise
								expressly provided in a legal notice, the aggregate liability
								for the Company to you for all claims arising from the use of
								the Website is limited to $100.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Web Traffic Tracking
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								Google Analytics is used to analyse traffic to this website.
								Google Analytics does not create individual profiles for
								visitors, nor Google Analytics does have a database of
								individual profiles for each visitor. Google Analytics only
								collects aggregate data. For more information about the privacy
								policy for Google Analytics, please click here.
							</p>
							<h3
								class="block font-medium text-gray-800 tracking-tighter text-2xl md:text-3xl lg:text-4xl dark:text-gray-200 mt-16"
							>
								Address of Record
							</h3>
							<p class="mt-6 text-base text-gray-800 dark:text-gray-400">
								Primrose Healthcare Staffing LLC, 117 Gemini Cir Ste#403,
								Homewood AL 35209
							</p>
						</div>
						<!-- End content -->
					</div>
				</div>
				<!-- End Hero -->
			</div>
			<!-- End Table Section -->

			<SupportBannerWithList />

			<!-- FAQ -->
			<div class="max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<!-- Title -->
				<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
					<h2
						class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
					>
						Your questions, answered
					</h2>
					<p class="mt-1 text-gray-600 dark:text-gray-400">
						Answers to the most frequently asked questions.
					</p>
				</div>
				<!-- End Title -->

				<div class="max-w-2xl mx-auto">
					<!-- Accordion -->
					<div class="hs-accordion-group">
						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05] active"
							id="hs-basic-with-title-and-arrow-stretched-heading-one"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
							>
								Do copay/deductible that we collect from patients count in
								collections?
								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-one"
								class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
							>
								<p class="text-gray-800 dark:text-gray-200">
									Yes, we include all revenue from services, including patient
									collections, whether you collect it or we collect it
								</p>
							</div>
						</div>

						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05]"
							id="hs-basic-with-title-and-arrow-stretched-heading-two"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two"
							>
								Do you exclude the costs of expensive medications/infusions?

								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-two"
								class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two"
							>
								<p class="text-gray-800 dark:text-gray-200">
									Yes, we give credit towards certain expensive
									medications/infusions based on the actual cost (invoice
									needed). Please check with us on your specific situation.
								</p>
							</div>
						</div>

						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05]"
							id="hs-basic-with-title-and-arrow-stretched-heading-three"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three"
							>
								Will you do our prior authorizations?

								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-three"
								class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three"
							>
								<p class="text-gray-800 dark:text-gray-200">
									Yes, we do prior authorizations for all tests, procedures &
									surgeries as a part of our premium service; If you need prior
									authorizations done with a basic plan, see Cypress plans for a
									support team that can get your tasks done at a fraction of the
									cost of employing on-premise staff.
								</p>
							</div>
						</div>

						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05]"
							id="hs-basic-with-title-and-arrow-stretched-heading-four"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-four"
							>
								How often do you invoice?
								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-four"
								class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-four"
							>
								<p class="text-gray-800 dark:text-gray-200">
									We raise our invoice on a monthly cycle
								</p>
							</div>
						</div>

						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05]"
							id="hs-basic-with-title-and-arrow-stretched-heading-five"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five"
							>
								What forms of payment do you accept?

								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-five"
								class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five"
							>
								<p class="text-gray-800 dark:text-gray-200">
									We obtain your prior consent and process all payments as ACH
									from your bank account.
								</p>
							</div>
						</div>

						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05]"
							id="hs-basic-with-title-and-arrow-stretched-heading-six"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six"
							>
								Can I pay using a credit card?
								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-six"
								class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six"
							>
								<p class="text-gray-800 dark:text-gray-200">
									No, we don’t accept credit card payments to keep processing
									costs down.
								</p>
							</div>
						</div>
						<div
							class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/[.05]"
							id="hs-basic-with-title-and-arrow-stretched-heading-six"
						>
							<button
								class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400"
								aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-six"
							>
								What do I do if I have a question about my invoice?

								<svg
									class="hs-accordion-active:hidden block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
								<svg
									class="hs-accordion-active:block hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-gray-400"
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"></path>
								</svg>
							</button>
							<div
								id="hs-basic-with-title-and-arrow-stretched-collapse-six"
								class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
								aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-six"
							>
								<p class="text-gray-800 dark:text-gray-200">
									You would reach out to your account manager or open a ticket.
									We will charge your account until any open questions are
									resolved.
								</p>
							</div>
						</div>
					</div>
					<!-- End Accordion -->
				</div>
			</div>
			<!-- End FAQ -->

			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
