---
import BaseLayout from '../layouts/BaseLayout.astro';
import BannerFooterSection from '../components/BannerFooterSection.astro';
import ButtonOutlined from '../components/ButtonOutlined.astro';
import SupportBannerWithList from '../components/SupportBannerWithList.astro';
---

<BaseLayout title="Virtual Assistants | Primrose.health">
	<main>
		<div class="container md:max-w-full">
			<!-- Hero -->
			<div
				class="max-w-[85rem] md:max-w-full mx-auto pt-10 pb-10 px-4 sm:px-6 lg:px-8 bg-neutral-100"
			>
				<!-- Grid -->
				<div
					class="grid md:grid-cols-2 gap-12 md:gap-16 xl:gap-20 md:items-center"
				>
					<div>
						<h1
							class="block text-4xl tracking-tighter font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"
						>
							Virtual Assistant
						</h1>
						<p class="mt-4 text-lg text-gray-800 dark:text-gray-400">
							Can you startup with zero staff? We take on most frontdesk & MA
							tasks until you are ready to hire a full time employee.
						</p>

						<!-- Buttons -->
						<div class="mt-8 grid gap-3 w-full sm:inline-flex">
							<a
								class="inline-flex calendly-open-button justify-center items-center gap-x-3 text-center bg-teal-700 hover:bg-teal-800 border border-transparent text-sm lg:text-base text-white font-medium transition py-3 px-4 dark:focus:ring-offset-gray-800"
								onclick="openCalendlyWidget()"
								href="#calendly"
							>
								Get started
							</a>
						</div>
						<!-- End Buttons -->
					</div>
					<!-- End Col -->

					<div class="relative">
						<img
							class="w-full max-w-full"
							src="/images/virtual-assistant-hero.png"
							alt="Image Description"
						/>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
			<!-- End Hero -->

			<!-- Features -->
			<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<div class="bg-white">
					<!-- Title -->
					<div class="mx-auto max-w-2xl text-center pb-8">
						<h2
							class="text-3xl lg:text-4xl text-gray-800 font-bold dark:text-gray-200 px-8 pt-8"
						>
							Faster appointments. <br /> More patients.
						</h2>
						
					</div>
					<!-- End Title -->

					<div class="grid grid-col-6 gap-12 px-4 py-8">
						<!-- Grid - Feature 1 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32 mt-6"
						>
							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Zero $ startup
										</h2>
										<p class="text-gray-500">
											Most clinics will not start to see meaningful revenue during the first 3 months. It makes financial sense to keep costs to a minimum during this period. Our remote staffing model will allow you to pay based on an easily scalable model for a fraction of the cost. 
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->

							<div>
								<img
									class=""
									src="/images/zero-dollar-startup.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 2 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Linear scaling
										</h2>
										<p class="text-gray-500">
											Even after you reach operational profitability, you will still benefit from a linear scaling model as you continue to grow. This model avoids fixed staffing costs and suboptimal staff utilization. 
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>

							<div>
								<img
									class=""
									src="/images/linear-scaling.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 3 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Lower costs
										</h2>
										<p class="text-gray-500">
											Performing administrative tasks in-office can be expensive, especially when you add in taxes and non-payroll costs. Utilizing our staff in India or the Philippines could save up to 75% of your costs. Staffing locally in the US does not save you costs but will allow you other benefits listed here.
										</p>
										<a href="#" class="inline-flex text-blue-700 underline"
											>Click here to see our fees</a
										>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->

							<div>
								<img
									class=""
									src="/images/lower-costs.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 4 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Management headaches
										</h2>
										<p class="text-gray-500">
											Pandemic has decidedly shifted the employment picture in
											favor of the employee. Clinics find it easier to manage
											vendor relationships instead of managing employees.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->

							<div>
								<img
									class=""
									src="/images/management-headaches.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						

						<!-- Grid - Feature 5 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Phone lines
										</h2>
										<p class="text-gray-500">
											Deciding which vendor to use as your phone provider. We can set up your phone line and setup extensions, and configure your desk phones.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->

							<div>
								<img
									class=""
									src="/images/phone-lines.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Grid - Feature 6 -->
						<div
							class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32"
						>
							<div class="mt-5 sm:mt-10 lg:mt-0">
								<div class="space-y-6 sm:space-y-8">
									<!-- Title -->
									<div class="space-y-2 md:space-y-4">
										<h2
											class="font-bold text-2xl lg:text-3xl text-gray-800 dark:text-gray-200"
										>
											Scheduling
										</h2>
										<p class="text-gray-500">
											We act as your receptionist, and our staff will handle all incoming calls related to scheduling, including new appointments, reschedules, and cancellations. We can also make outbound calls to the patients as needed.
										</p>
									</div>
									<!-- End Title -->
								</div>
							</div>
							<!-- End Col -->

							<div>
								<img
									class=""
									src="/images/scheduling-virtualassistant.png"
									alt="Image Description"
								/>
							</div>
							<!-- End Col -->
						</div>
						<!-- End Grid -->

						<!-- Card Features -->
						<div
							class="max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 lg:pt-14 mx-auto"
						>
							<div>
								<!-- Card Grid -->
								<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
									<!-- Card -->
									<div
										class="group flex flex-col h-full bg-white dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
									>
										<div
											class="flex flex-col justify-center items-center bg-[#925034] h-96"
										>
											<img
												src="/images/circle-pattern.svg"
												alt=""
												class="w-60"
											/>
										</div>
										<div class="py-6">
											<h3
												class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white"
											>
												Virtual Assisting
											</h3>
											<p class="mt-3 text-gray-500">
												We manage your eligibility verifications and respond to emails or chats.
											</p>
										</div>
									</div>
									<!-- End Card -->
									<!-- Card -->
									<div
										class="group flex flex-col h-full bg-white dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
									>
										<div
											class="flex flex-col justify-center items-center bg-[#925034] h-96"
										>
											<img
												src="/images/square-pattern.svg"
												alt=""
												class="w-60"
											/>
										</div>
										<div class="py-6">
											<h3
												class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white"
											>
												Medical Assistant
											</h3>
											<p class="mt-3 text-gray-500">
												We call to get prior authorizations for tests and
												procedures or make referrals. We will handle inbound
												calls regarding refill requests and can also make
												outbound calls regarding lab requests.
											</p>
										</div>
									</div>
									<!-- End Card -->
									<!-- Card -->
									<div
										class="group flex flex-col h-full bg-white dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
									>
										<div
											class="flex flex-col justify-center items-center bg-[#925034] h-96"
										>
											<img
												src="/images/polygon-pattern.svg"
												alt=""
												class="w-60"
											/>
										</div>
										<div class="py-6">
											<h3
												class="text-xl font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white"
											>
												Fax
											</h3>
											<p class="mt-3 text-gray-500">
												We will manage all incoming faxes, attach them to the correct patient chart, and set appropriate tasks. Our staff will also set up new patients for any referrals and enter lab results. 
											</p>
										</div>
									</div>
									<!-- End Card -->
								</div>
								<!-- End Card Grid -->
							</div>
						</div>
						<!-- End Card Features -->
					</div>
				</div>
			</div>
			<!-- End Features -->

			<SupportBannerWithList />	

			

			<BannerFooterSection />
		</div>
	</main>
</BaseLayout>
